html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 17px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3f1d04;
}
h1 {
    font-size: 45px;
    text-align: center;
    color: rgb(218, 208, 208);
    border:1px solid rgb(28, 6, 6);
    background-color: rgb(161, 131, 67);
    padding: 0px 100px 10px 0px;
    margin: 0px 90px 15px 0px;
    text-shadow: 3px 10px 20px black;

}
p{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color:rgb(7, 1, 1);
      line-height: 9px;
}
body {
    width: 6
     00px;
    background-color: #cea05c;
    margin: 6px 340px 10px 410px;
    padding: 0px 10px 20px 50px;
    border: 5px solid black;
  
    
}
img{
    display: block;
    margin: 0px 100px 0px 70px;
    max-width: 100%;
}
h3{
    color: black;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{line-height: 21px;
color: black;}